<html>
	<body>

<a href = "index.html">About</a>
<a href = "index.html">Home</a>
<a href = "index.html">Contact</a>
<a href = "index.html">Projects</a>

		<h1>Hello World!</h1>

<img sr  "/home/niilantei/Downloads/fruits.jpg">

<p> My nane is Samuel Nsia Lantei and I come from La in the Greater Accra Region.
I am 30 years of age and a student/worker.</p>
<p> I am a student of Koforidua Technical University pursuing Computer Sceince.</p>
<p>I work with Aitel Ghana, Koforidua branch as customer care executive.</p> 
	</body>
</html>


